html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.main__container {
  max-width: 80rem;
  margin: auto;
}

.container {
  max-width: 120rem;
  margin: auto;
}

main {
  margin-top: 80px;
}

.lock-scroll {
  overflow: hidden;
}

h2, h3 {
  color: #2b5876;
}

.navbar {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #E2E8F0;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.navbar .logo {
  font-size: 3rem;
  font-weight: 600;
  color: #2b5876;
}

.navbar .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-left: 50px;
}

.nav__item .nav__link {
  color: #2b5876;
  font-weight: 600;
}

.nav__item .nav__link:hover {
  color: #000;
}

.hamburger {
  display: none;
  border: 0;
  background: none;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #101010;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__menu .nav__item {
    margin: 25px 0px;
    font-size: 2rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.navbar {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #E2E8F0;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.navbar .logo {
  font-size: 3rem;
  font-weight: 600;
  color: #2b5876;
}

.navbar .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-left: 50px;
}

.nav__item .nav__link {
  color: #2b5876;
  font-weight: 600;
}

.nav__item .nav__link:hover {
  color: #000;
}

.hamburger {
  display: none;
  border: 0;
  background: none;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #101010;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__menu .nav__item {
    margin: 25px 0px;
    font-size: 2rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.hero {
  background-color: #2b5876;
  background-image: -webkit-gradient(linear, left top, right top, from(#2b5876), to(#4e4376)), url("/assets/png/oriental-tiles.png");
  background-image: linear-gradient(to right, #2b5876, #4e4376), url("/assets/png/oriental-tiles.png");
  height: 100vh;
  color: #fff;
  max-height: 120rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  place-items: center;
  -ms-place-items: center;
  -webkit-place-items: center;
  -moz-place-items: center;
  -o-place-items: center;
}

.hero .hero__content {
  width: 90%;
}

.hero__title {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.hero__text {
  line-height: 1.6;
}

.hero__paragraph {
  margin-top: 20px auto 0 auto;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 86vh;
    min-height: 45rem;
  }
  .hero__title {
    font-size: 4rem;
  }
  .hero__paragraph {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 320px) {
  .hero {
    min-height: 65rem;
  }
  .hero__title {
    font: 2.5rem;
  }
}

.button {
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  border: 0;
}

.button--shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.button--center {
  text-align: center;
}

.button--left {
  text-align: left;
}

.button--white {
  color: #fff;
}

.button--primary {
  color: #2b5876;
}

.button--background-white {
  background: white;
}

.button--large {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 1.5rem 8rem;
}

.about-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--resume {
  margin-left: 30px;
}

.button--md {
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  font-weight: 600;
}

.button--background-primary {
  background-color: #2b5876;
}

.button--hero {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .button--large {
    padding: 1.5rem 5rem;
  }
  .about-buttons {
    display: block;
  }
  .button--resume {
    margin: auto;
  }
}

@media only screen and (max-width: 320px) {
  .button--large {
    padding: 1.5rem 2.5rem;
  }
}

.about {
  width: 92%;
  margin: auto;
  color: #777;
  line-height: 1.7;
  padding: 12rem 0;
}

.skill {
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  background-color: rgba(153, 153, 153, 0.2);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.about__title {
  font-size: 4rem;
}

.about__head {
  text-align: center;
  margin-bottom: 90px;
}

.about__text {
  width: 70%;
  margin: auto;
}

.about-cta {
  margin-top: 30px;
}

.about-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.flex-title {
  margin-bottom: 30px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .about-flex {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about {
    margin: auto;
  }
  .about-right__title {
    margin-top: 40px;
  }
  .about__text {
    width: 85%;
  }
  .about-cta {
    margin-top: 20px;
  }
  .skill {
    padding: 7px 15px;
    font-size: 15px;
  }
}

.project {
  color: #777;
  line-height: 1.7;
}

.project__one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  margin-bottom: 120px;
}

.project-img {
  width: 500px;
  border-radius: 5px;
}

.project__title {
  font-size: 4rem;
}

.project__text {
  margin: 30px 0;
}

@media (max-width: 768px) {
  .project__one {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .project__content {
    width: 92%;
    margin: auto;
  }
  .project-img {
    width: 300px;
  }
  .project__one {
    justify-items: center;
  }
  .project--2 {
    text-align: center;
  }
  .project__text {
    margin: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */