// base 
@import "./base/base";

// abstracts 
@import "./abstracts/mixins";
@import "./abstracts/variables";

// components 
@import "./components/header";
@import "./components/hero";
@import "./components/button";
@import "./components/about";
@import "./components/project";
@import "./components/blog";
@import "./components/contact";
@import "./components/footer";