.blog {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 12rem;
}
.blog__content {
    text-align: left;
}
.blog__link {
    text-decoration: underline;
    display: block;
    margin-bottom: 30px;
}
.blog__title {
    margin-bottom: 20px;
    font-size: 3rem;
}
.viewall:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .blog__link {
        margin-bottom: 15px;
    }
    .blog {
        width: 90%;
    }
}