.button {
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    border: 0;
}
.button--shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.button--center{
    text-align: center;
}
.button--left{
    text-align: left;
}
.button--white {
    color: #fff;
}
.button--primary {
    color: color(primary-color);
}
.button--background-white {
    background: rgb(255, 255, 255);
}
.button--large {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1.5rem 8rem;
}
.about-buttons {
    display: flex;
}
.button--resume {
    margin-left: 30px;
}
.button--md {
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    font-weight: 600;
}
.button--background-primary {
    background-color: color(primary-color);
}
.button--hero {
    margin-top: 50px;
}



//buttons for smaller screen
@media only screen and (max-width: 768px){
    .button--large {
        padding: 1.5rem 5rem;
    }
    .about-buttons {
        display: block;
    }
    .button--resume {
        margin: auto;
    }
}


@media only screen and (max-width: 320px){
    .button--large {
        padding: 1.5rem 2.5rem;
    }
}