@import "../abstracts/variables";
.contact {
    background-color: color(primary-color);
    color: white;
    margin-top: 12rem;
    padding: 10rem 1rem;
}
.contact__content {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    max-width: 80rem;
    margin: auto;
}
.form__area {
    margin-bottom: 40px;
}
form {
    color: color(primary-color);
    padding: 5rem 3rem;
}
label {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    outline: none;
    background-color: rgb(240, 240, 240);
    border: 0;
    padding: 2.2rem 1rem;
    border-radius: 5px;
    font-size: 16px;
}
textarea{
    font-family: inherit;
}
.form__button {
    padding: 1.5rem 4rem;
    font-size: 2rem;
}


@media (max-width: 900px){
    input, textarea{
        padding: 2rem 1rem;
    }
    .form__button {
        width: 100%;
        text-align: center;
    }
    .contact__content {
        width: 92%;
    }
}