@import "../abstracts/mixins";

.navbar {
    overflow: hidden;
    @include flex-s-b;
    background-color: #fff;
    border-bottom: 1px solid #E2E8F0;;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    padding: 2rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    .logo {
        font-size: 3rem;
        font-weight: 600;
        color: color(primary-color);
        font-family: 'Source Sans Pro', sans-serif;
    }
    .nav__menu {
        @include flex-s-b;

    }
}
.nav__item {
    margin-left: 50px;

    .nav__link {
        color: color(primary-color);
        font-weight: 500;
        
        &:hover {
            color: #000;
        }
    }
}

// hamburger 
.hamburger {
    display: none;
    border: 0;
    background: none;


    .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #101010;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }
}

// media querry
@media only screen and (max-width: 768px){
    .nav__menu {
        position: fixed;
        left: -100%;
        width: 100%;
        top: 8rem;
        flex-direction: column;
        background: #fff;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
        text-align: center;
        transition: 0.5s;
        // touch-action: none;

        .nav__item {
            margin: 25px 0px;
            font-size: 2rem;
        }

    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    // display nav menu
    .active {
        left: 0;
    }

    // hamburger-close 
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}