@import "./header";
.hero {
    background-color: #2b5876;
    // background-color: #003b23;
    background-image: url(/assets/diamond-upholstery.png);
    height: 100vh;
    color: #fff;
    max-height: 120rem;
    text-align: center;
    display: grid;
    overflow: hidden;
    place-items: center;
    -ms-place-items: center;
    -webkit-place-items: center;
    -moz-place-items: center;
    -o-place-items: center;
    
    
    .hero__content {
        width: 90%;
    }
}
.hero__title {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 700;
    // letter-spacing: 2px;
}
.hero__text {
    line-height: 1.6;
    margin-top: 20px;
}

.hero__paragraph {
    margin-top: 20px auto 0 auto;
    font-size: 2rem;
}




// media querry --smaller screens
@media only screen and (max-width: 768px){
    .hero {
        height: 86vh;
        min-height: 45rem;
    }
    .hero__title {
        font-size: 3.5rem;
    }
    .hero__paragraph {
        font-size: 1.8rem;
    }
}

//screens below 320px
@media only screen and (max-width: 320px){
    .hero {
        min-height: 65rem;
    }

    .hero__title {
        font: 2.5rem;
    }
}