.hero {
    background-color: #2b5876;
    background-image: linear-gradient(to right, #2b5876, #4e4376),url("/assets/png/oriental-tiles.png");
    height: 100vh;
    color: #fff;
    max-height: 120rem;
    text-align: center;
    display: grid;
    place-items: center;
    -ms-place-items: center;
    -webkit-place-items: center;
    -moz-place-items: center;
    -o-place-items: center;
    
    
    .hero__content {
        width: 90%;
    }
}
.hero__title {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3px;
}
.hero__text {
    line-height: 1.6;
}


.hero__cta {
    text-align: center;
    margin-top: 50px;
    
    .hero__button {
        border: 0;
    }
    
    .button {
        color: color(primary-color);
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
        font-weight: 700;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
    }
}
.button--large {
    font-size: 2rem;
    padding: 1.5rem 8rem;
}

.hero__paragraph {
    margin-top: 20px auto 0 auto;
    font-size: 2rem;
}

// media querry --smaller screens
@media only screen and (max-width: 768px){
    .hero {
        height: 86vh;
        min-height: 45rem;
    }
    // .hero__content {
    //     margin-top: 40px;
    // }
    .button--large {
        padding: 1.5rem 5rem;
    }
    .hero__title {
        font-size: 4rem;
    }
    .hero__paragraph {
        font-size: 1.8rem;
    }
}

//screens below 320px
@media only screen and (max-width: 320px){
    .hero {
        min-height: 65rem;
    }
    .button--large {
        padding: 1.5rem 2.5rem;
    }
    .hero__title {
        font: 2.5rem;
    }
}