html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.main__container {
    max-width: 80rem;
    margin: auto;
}
.main__cont {
    max-width: 120rem;
    margin: auto;
}
main {
    margin-top: 80px;
}

.lock-scroll {
    overflow: hidden;
}